apiVersion: v2
name: traefik-wrapper
description: A wrapper Helm chart to deploy Traefik with custom values.
version: 0.1.0 # Version of this wrapper chart
appVersion: "v25.0.0" # Corresponds to the Traefik chart version we depend on

dependencies:
  - name: traefik
    version: "v35.1.0" # The version of the Traefik chart to use
    repository: https://helm.traefik.io/traefik # The repository of the dependency
    # We need to map the values from our local values.yaml to the subchart.
    # By default, values under a key matching the dependency name are passed.
    # So, values for 'traefik' in our values.yaml will go to the traefik subchart.
